#menu{
   height: 102px !important;
    width:  22px !important;
    color: #2d5b1a;
    
}
.search-content{
    position: fixed;
    width: 300px;
    height: auto;
    overflow-y: auto;
    padding: 12px;
    background: #333;
    box-shadow: 0px 5px 3px 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 5px;
    justify-content: center;
    place-items: center;
}
.search-content li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff;
    width: 100% !important;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}
.search-content li:hover{
    transform: scale(1.009);
    box-shadow: 0px 5px 3px rgba(134, 148, 251, 0.2);
    opacity: 0.9;
}
.search-content li p{
    flex: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 12px;
}
.search-content li img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
@media (max-width: 500px) {
    .search-content{
        width: 300px;
    }
}

.all1{
    background-color: rgba(255, 255, 255, 0.2);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nonedisplay{
    display: none;
}